/*
   Copyright 2014 Nebez Briefkani
   floppybird - main.css
   
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
*/


@-webkit-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-moz-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-o-keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@keyframes animLand {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -335px 0px;
    }
}

@-webkit-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@-moz-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@-o-keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}

@keyframes animSky {
    0% {
        background-position: 0px 100%;
    }
    100% {
        background-position: -275px 100%;
    }
}


/*
@-webkit-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@-moz-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@-o-keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
@keyframes animBird {
   from { background-position: 0px 0px; }
   to { background-position: 0px -96px; }
}
*/

@-webkit-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@-moz-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@-o-keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@keyframes animPipe {
    0% {
        left: 900px;
    }
    100% {
        left: -100px;
    }
}

@-webkit-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}

@-moz-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}

@-o-keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}

@keyframes animCeiling {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -63px 0px;
    }
}

*,
*:before,
*:after {
    /* border box */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* gpu acceleration */
    -webkit-transition: translate3d(0, 0, 0);
    /* select disable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: monospace;
    font-size: 12px;
    color: #fff;
}

#gamecontainer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 525px;
}


/*
Screen - Game
*/

#gamescreen {
    position: absolute;
    width: 100%;
    height: 100%;
}

#sky {
    position: absolute;
    top: 0;
    width: 100%;
    height: 85%;
    background-image: url('../assets/sky.gif');
    background-repeat: repeat;
    background-position: 0px 100%;
    background-color: #ffffff;
    -webkit-animation: animSky 7s linear infinite;
    animation: animSky 7s linear infinite;
}

#flyarea {
    position: absolute;
    bottom: 0;
    /* height: 420px; */
    height: 82.50%;
    width: 100%;
}

#ceiling {
    position: absolute;
    top: -16px;
    height: 16px;
    /* height: 100px; */
    width: 100%;
    background-image: url('../assets/ceiling.png');
    background-repeat: repeat-x;
    -webkit-animation: animCeiling 481ms linear infinite;
    animation: animCeiling 481ms linear infinite;
    /* -webkit-animation: animLand 2516ms linear infinite;
    animation: animLand 2516ms linear infinite; */
}

#land {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 20%; */
    height: 15%;
    background-image: url('../assets/land.png');
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-color: #ded895;
    -webkit-animation: animLand 2516ms linear infinite;
    animation: animLand 2516ms linear infinite;
}

#roof {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    /* height: 10%; */
    height: 17.50%;
    /* background-image: url('../assets/land.png'); */
    background-image: url('../assets/ceiling4.png');
    background-repeat: repeat-x;
    background-position: 0px 0px;
    background-color: #8beace;
    -webkit-animation: animLand 2516ms linear infinite;
    animation: animLand 2516ms linear infinite;
}

#bigscore {
    position: absolute;
    top: 20px;
    left: 150px;
    z-index: 100;
}

#bigscore img {
    display: inline-block;
    padding: 1px;
}

#splash {
    position: absolute;
    opacity: 0;
    top: 32px;
    top: 75px;
    /* left: 180px; */
    left: 50%;
    margin-left: -140px;
    width: 300px;
    height: 300px;
    background-image: url('../assets/splash.png');
    background-repeat: no-repeat;
}

#scoreboard {
    position: absolute;
    display: none;
    opacity: 0;
    top: 64px;
    /* left: 43px; */
    left: 50%;
    margin-left: -140px;
    width: 236px;
    height: 280px;
    background-image: url('../assets/scoreboard2.png');
    background-repeat: no-repeat;
    z-index: 1000;
}


/* #medal {
    position: absolute;
    opacity: 0;
    top: 114px;
    left: 32px;
    width: 44px;
    height: 44px;
} */

#currentscore {
    position: absolute;
    top: 120px;
    left: 107px;
    width: 104px;
    height: 14px;
    text-align: right;
}

#currentscore img {
    padding-left: 2px;
}

#highscore {
    position: absolute;
    top: 162px;
    left: 107px;
    width: 104px;
    height: 14px;
    text-align: right;
}

#highscore img {
    padding-left: 2px;
}

#replay {
    position: absolute;
    opacity: 0;
    top: 205px;
    left: 61px;
    height: 115px;
    width: 70px;
    cursor: pointer;
}

.boundingbox {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid red;
}

#player {
    opacity: 0;
    left: 60px;
    top: 200px;
}

.bird {
    position: absolute;
    /* width: 81px; */
    width: 90px;
    height: 77px;
    background-image: url('../assets/bird.png');
    /*
   -webkit-animation: animBird 300ms steps(4) infinite;
   animation: animBird 300ms steps(4) infinite;
*/
}

.pipe {
    position: absolute;
    left: -100px;
    width: 52px;
    height: 100%;
    z-index: 10;
    -webkit-animation: animPipe 7500ms linear;
    animation: animPipe 7500ms linear;
}

.pipe_upper {
    position: absolute;
    top: 0;
    width: 52px;
    background-image: url('../assets/pipe.png');
    background-repeat: repeat-y;
    background-position: center;
}

.pipe_upper:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 83.44px;
    height: 60px;
    background-image: url('../assets/pipe-down.png');
}

.pipe_lower {
    position: absolute;
    bottom: 0;
    width: 52px;
    background-image: url('../assets/pipe.png');
    background-repeat: repeat-y;
    background-position: center;
}

.pipe_lower:after {
    content: "";
    position: absolute;
    top: 0;
    width: 84px;
    height: 50px;
    background-image: url('../assets/pipe-up.png');
}

#footer {
    position: absolute;
    bottom: 3px;
    left: 3px;
}

#footer a,
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #fff;
}


/* Modal */

@font-face {
    font-family: Avenir;
    src: url('../fonts/AvenirRegular.ttf');
}

@font-face {
    font-family: Avenirsemi;
    src: url('../fonts/AvenirNextLTPro-Demi.ttf');
}

#successmodal .modal-content {
    background-color: #8aeace;
    padding: 45px 80px;
    border-radius: 0;
}

@media (max-width: 768px) {
    #successmodal .modal-content {
        padding: 45px 20px;
    }
}

#successmodal .modal-content .modal-header {
    border: none;
    padding: 0;
}

#successmodal .modal-content .modal-header img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

#successmodal .modal-content .modal-header img:first-child {
    width: 250px;
}

#successmodal .modal-content .modal-header img:nth-child(2) {
    width: 90px;
}

#successmodal .modal-content .modal-header .modal-title {
    color: #000000;
}

#successmodal .modal-content .modal-header .modal-description {
    color: #000000;
    padding: 0 20px;
    font-family: Avenir;
    font-size: 15px;
    line-height: 20px;
}

#successmodal .modal-content .modal-header .modal-description span {
    font-weight: 800;
}

#successmodal .modal-content .modal-body {
    padding: 15px 0 0 0;
    text-align: left;
}

#successmodal .modal-content .modal-body input,
#successmodal .modal-content .modal-body textarea {
    background-color: #e1f9f2;
    color: #000000;
    width: 100%;
    display: block;
    margin: 10px 0;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Avenir;
}

#successmodal .modal-content .modal-body input::-webkit-input-placeholder,
#successmodal .modal-content .modal-body textarea::-webkit-input-placeholder {
    font-family: Avenir;
}

#successmodal .modal-content .modal-body input::-webkit-input-placeholder,
#successmodal .modal-content .modal-body textarea::-webkit-input-placeholder {
    font-family: Avenir;
}

#successmodal .modal-content .modal-body input::-webkit-input-placeholder,
#successmodal .modal-content .modal-body textarea::-webkit-input-placeholder {
    font-family: Avenir;
}

#successmodal .modal-content .modal-body input::-webkit-input-placeholder,
#successmodal .modal-content .modal-body textarea::-webkit-input-placeholder {
    font-family: Avenir;
}

#successmodal .modal-content .modal-body input:focus,
#successmodal .modal-content .modal-body textarea:focus {
    outline: none;
}

#successmodal .modal-content .modal-body input {
    height: 40px;
}

#successmodal .modal-content .modal-body textarea {
    padding-top: 15px;
    padding-bottom: 15px;
}

#successmodal .modal-content .modal-body .email-error {
    display: none;
    color: red;
    font-family: Avenir;
    font-size: 15px;
}

#successmodal .modal-content .modal-body .actions {
    text-align: right;
}

#successmodal .modal-content .modal-body .actions button {
    margin-top: 20px;
    background-color: #8aeace;
    border: 1px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px 30px;
    color: #000000;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 800;
}

#successmodal .modal-content .modal-body .actions button#btn-replay {
    display: none;
}

#successmodal .modal-content .modal-body .actions i {
    display: none;
    color: #000000;
    font-size: 20px;
}


.borders > * {
    position: fixed;
    z-index: 1000;
    background: white;
    height: 45px;
    width: 45px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: -moz-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -ms-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}
.borders > *.bottom{
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
}
.borders > *.top{
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}
.borders > *.left{
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.borders> *.right{
    top: 0;
    right: 0;
    height: 100%;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

.nav-toggle{
    top: 47%;
    left: 0px;
    right: inherit;
    margin-top: -20px;
    height: 40px;
    position:fixed;
    z-index:1001;
}
.nav-toggle .effect{
     position:relative;
    width: 60px;
    height:60px;
    box-shadow: 0 2px 12px 0 rgba(34, 34, 34, 0.15);
    background:#fe5c5c;
    display:flex;
    /* align-items: center; */
    justify-content: center;
     cursor:pointer;   
}
.nav-toggle .effect:hover{
    background:#222222;
    transition: all 0.2s ease-in;   
}
.nav-toggle .effect .dots-menu{
    position: absolute;       
    width: 100%;
    height: 100%;    
    z-index: 1;
    padding: 0px;
    top: 22%;
    left: 31%;
}
.nav-toggle .effect  p{
    position: absolute;
    bottom:4px;
    font-size:10px;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    color:white;
    font-family: Avenirsemi;
    line-height: 20px;
}

.nav-toggle .effect .text-close{
    display:block;
}

.nav-toggle .effect  .text-open{
    display:none;
}
.nav-toggle .effect span{
    height:3px;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left:0;
      
}
  span:nth-child(1){
    top:0;
    left: 18px !important;
}

 
.nav-toggle .effect span:nth-child(2){
    top:9px;
    left: 9px !important;
}
.nav-toggle .effect span:nth-child(3){
    top: 0px !important;
} 
.nav-toggle .effect span:nth-child(4){
    left:9px;
    top: 9px !important;
}
.nav-toggle .effect span:nth-child(5){
    left:18px;
    top: 18px !important;
}
.nav-toggle .effect span:nth-child(6){
    left:9px;
    top:9px;
}     
.nav-toggle .effect span:nth-child(7){
    left: 9px !important;
    top:9px;
} 
.nav-toggle .effect span:nth-child(8){
    left:9px;
    top: 9px !important;
}
.nav-toggle .effect span:nth-child(9){
    left: 0 !important;
    top:18px;
}
